{% extends 'mainSite/base.html' %}
{% load static %}

{% block content %}
<img id='AboutMeImage' src="{% static 'mainSite/images/aboutMe.jpg' %}" alt="A picture of Ahsan in LIC, New York" />
<div class="AboutMe">
    <h1>"I am going to be the CEO of Google."</h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is what I told my resident hall director when I met her for the first time in
        the first few days of my freshman year of college. She was asking everyone to write their goals on a hot air
        balloon cutout for a bulletin board and that was mine. Although I was sort of making a joke, there was also
        truth to it. I would very much love to be the CEO of Google or, at least, my own version of Google. A successful
        software company that will allow me to leave my mark on the world. I have always been very ambitious and strive
        to be the best at what I do.
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My name is Ahsan Qureshi and I am a software developer. I fell in love with
        computer science in high school when I took my very first computer science class and learned my first
        programming language, Dr. Racket. Moved on to learn NetLogo and then Java in A.P. Computer Science. Then took my
        first systems course and learned C. Moving on to college, my parents had always told me that they wanted me to
        be a doctor and so I took pre-med courses, but computer science was my passion and so I was a Computer Science
        major on the pre-med track. I dropped pre-med in my last semester of senior year to fully pursue my dream.
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I dream of one day having my own tech company. I am constantly coming up with new
        project ideas and applications that I believe will help society and make a difference in the world. You can
        follow me on my journey as I work to better the world and make life easier for everyone around me. Check out the
        "Projects" tab to see what I have worked on or am currently working on!
    </p>
    <p id="signOff">
        Sincerely,
        <br />
        Ahsan Qureshi
    </p>
</div>
{% endblock %}