{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" href="{% static 'mainSite/images/favicon.ico' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainSite/style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'mainSite/js/ahsanDevSite.js' %}"></script>
	<title>{% block title %}This is Ahsan{% endblock %}</title>
</head>
<body>
	<header>
		{% block header %}
		<div class="NamePlate">
            <a href="/"><h1>Ahsan Qureshi</h1></a>
			<div class="SocialMediaDiv">
				<!-- Image links for Social Media -->
            	<a class="SocialMediaLink" href="https://github.com/aqureshi8">
					<img class="SocialMediaIcon" src='{% static "mainSite/images/githubLogo.png" %}' alt='Github Logo'/>
				</a>
            	<a class="SocialMediaLink" href="https://www.linkedin.com/in/ahsan-qureshi-b4382080">
					<img class="SocialMediaIcon" src='{% static "mainSite/images/linkedinLogo.png" %}' alt='LinkedIn Logo'/>
				</a>
				<a class="SocialMediaLink" href="https://facebook.com">
					<img class="SocialMediaIcon" src='{% static "mainSite/images/facebookLogo.png" %}' alt='Facebook Logo'/>
				</a>
				<a class="SocialMediaLink" href="https://twitter.com">
					<img class="SocialMediaIcon" src='{% static "mainSite/images/twitterLogo.png" %}' alt='Twitter Logo'/>
				</a>
				<a class="SocialMediaLink" href="https://www.instagram.com/this.is.ahsan/">
					<img class="SocialMediaIcon" src='{% static "mainSite/images/instagramLogo.png" %}' alt='Instagram Logo'/>
				</a>
				<a class="SocialMediaLink" href="/SocialMedia">
					<img class="SocialMediaIcon" src='{% static "mainSite/images/socialMediaLogo.png" %}' alt='Social Media Page'/>
				</a>
			</div>
		</div>
		<div class="MenuBar">
            <div class="Menu">
                <a href="/Projects">
                    <button class="MenuButton {% if pageName == 'Projects' %}currentPage{% endif %}"
                            {% if pageName == 'Projects' %}disabled{% endif %}>Projects</button>
                </a>
                <a href="/Employment">
                    <button class="MenuButton {% if pageName == 'Employment' %}currentPage{% endif %}"
                            {% if pageName == 'Employment' %}disabled{% endif %}>Employment</button>
                </a>
                <a href="/Education">
                    <button class="MenuButton {% if pageName == 'Education' %}currentPage{% endif %}"
                            {% if pageName == 'Education' %}disabled{% endif %}>Education</button>
                </a>
                <a href="/Resume">
                    <button class="MenuButton {% if pageName == 'Resume' %}currentPage{% endif %}"
                            {% if pageName == 'Resume' %}disabled{% endif %}>Resume</button>
                </a>
                <a href="/CoverLetter">
                    <button class="MenuButton {% if pageName == 'Cover Letter' %}currentPage{% endif %}"
                            {% if pageName == 'Cover Letter' %}disabled{% endif %}>Cover Letter</button>
                </a>
                <a href="/AboutMe">
                    <button class="MenuButton {% if pageName == 'About Me' %}currentPage{% endif %}"
                            {% if pageName == 'About Me' %}disabled{% endif %}>About Me</button>
                </a>
                <a href="/ContactMe">
                    <button class="MenuButton {% if pageName == 'Contact Me' %}currentPage{% endif %}"
                            {% if pageName == 'Contact Me' %}disabled{% endif %}>Contact Me</button>
                </a>
            </div>
			<div class="MenuDropdown">
                <img class="MenuLogo" src='{% static "mainSite/images/menu.png" %}' alt="Menu" onclick="toggleMenu()"/>
                <a href="/Projects">
                    <button class="MenuButton hideButton {% if pageName == 'Projects' %}currentPage{% endif %}"
                            {% if pageName == 'Projects' %}disabled{% endif %}>Projects</button>
                </a>
                <a href="/Employment">
                    <button class="MenuButton hideButton {% if pageName == 'Employment' %}currentPage{% endif %}"
                            {% if pageName == 'Employment' %}disabled{% endif %}>Employment</button>
                </a>
                <a href="/Education">
                    <button class="MenuButton hideButton {% if pageName == 'Education' %}currentPage{% endif %}"
                            {% if pageName == 'Education' %}disabled{% endif %}>Education</button>
                </a>
                <a href="/Resume">
                    <button class="MenuButton hideButton {% if pageName == 'Resume' %}currentPage{% endif %}"
                            {% if pageName == 'Resume' %}disabled{% endif %}>Resume</button>
                </a>
                <a href="/CoverLetter">
                    <button class="MenuButton hideButton {% if pageName == 'Cover Letter' %}currentPage{% endif %}"
                            {% if pageName == 'Cover Letter' %}disabled{% endif %}>Cover Letter</button>
                </a>
                <a href="/AboutMe">
                    <button class="MenuButton hideButton {% if pageName == 'About Me' %}currentPage{% endif %}"
                            {% if pageName == 'About Me' %}disabled{% endif %}>About Me</button>
                </a>
                <a href="/ContactMe">
                    <button class="MenuButton hideButton {% if pageName == 'Contact Me' %}currentPage{% endif %}"
                            {% if pageName == 'Contact Me' %}disabled{% endif %}>Contact Me</button>
                </a>
			</div>
		</div>
		{% endblock %}
	</header>
	{% block content %}
	{% endblock %}
	<footer>
		{% block footer %}
        <p>This website was created using Django on Python 2.7 and is hosted on Heroku.</p>
		{% endblock %}
	</footer>
</body>
