{% extends 'mainSite/base.html' %}
{% load static %}

{% block content %}
<div class="PaperBackground">
    <div class="Paper">
        <pre>{{ header.paragraph }}</pre>
        <pre>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ introduction.paragraph }}</pre>
        <pre>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph1.paragraph }}</pre>
        <pre>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph2.paragraph }}</pre>
        <pre>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paragraph3.paragraph }}</pre>
        <pre>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ conclusion.paragraph }}</pre>
        <pre>{{ footer.paragraph }}</pre>
    </div>
</div>
{% endblock %}