{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'mainSite/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'mainSite/js/ahsanDevSite.js' %}"></script>
	<title>This is Ahsan</title>
</head>
<body>
	<div id="border1"></div>
	<h1>Hi, I'm Ahsan Qureshi</h1>
	<div class="Welcome">
		<div class="CoinHolder">
			<div class="Coin">
				<div class="Front">
					<img id="MainImage" src='{% static "mainSite/images/meetAhsanQureshi.jpg" %}' alt='Ahsan at Navy Pier in Chicago'/>
				</div>
				<div class="Back">
                    <br />
                    <h2>Quick Facts</h2>
                    <br />
                    <p>- Stony Brook '17</p>
                    <p>- B.S. in Computer Science</p>
                    <p>- Professional software developer</p>
                    <p>- Passionate about learning and improving skills</p>
                    <p>- Fell in love with software development in high school</p>
                    <p>- Constantly looking for ways to innovate</p>
                    <p>- Enjoy traveling and exploring</p>
                    <p>- Love to try new foods</p>
                    <p>- Huge Knicks fan</p>
				</div>
			</div>
		</div>
		<div class="LeftButtons">
            <a href="/Projects">
			    <button>Projects</button>
            </a>
			<div class="buttonSpace"></div>
            <a href="/Education">
			    <button>Education</button>
            </a>
			<div class="buttonSpace"></div>
            <a href="/CoverLetter">
			    <button>Cover Letter</button>
            </a>
			<div class="buttonSpace"></div>
            <a href="/AboutMe">
			    <button>About Me</button>
            </a>
		</div>
		<div class="RightButtons">
            <a href="/Employment">
			    <button>Employment</button>
            </a>
			<div class="buttonSpace"></div>
            <a href="/Resume">
			    <button>Resume</button>
            </a>
			<div class="buttonSpace"></div>
            <a href="/SocialMedia">
			    <button>Social Media</button>
            </a>
			<div class="buttonSpace"></div>
            <a href="/ContactMe">
			    <button>Contact Me</button>
            </a>
		</div>
	</div>
    <div id="border2"></div>
</body>
</html>