{% extends 'mainSite/base.html' %}
{% load static %}

{% block content %}
<br />
<div class="ThankYou">
    <h3>Thank you for yor email!</h3>
    <p>
        Your email has been sent to me and I will respond to it as soon as I can.<br />
        I appreciate you taking the time to browse the site and reaching out!<br />
        You can review the email that you sent below:<br />
    </p>
</div>
<div class="EmailReview">
    Name: {{ name }}<br />
    <br />
    Email: {{ email }}<br />
    <br />
    Message:<br />
    <p class="EmailReviewMessage">{{ message }}</p>
</div>
{% endblock %}